$contrasted-bg: #fffcfb;
$contrasted-plus-bg: #ffffff;
$contrasted-minus-bg: #f6fafc;
$main-bg: #f2f3f5;
$light-bg : #e4ebee;
$lighter-bg: #b8cccf;
$main-color: #212d33;
$plus-color: #1E272C;
$focus-color: #f59104;
$blue-highlight-color: #0c6880;
$minus-blue-highlight-color: #AFCBD4;
$link-color: #097a99;
$minus-color: #7d7f81;
$info-color: #7A8387;
$danger-color: #d21e58;
$danger-text: #d21e58;
$grey: #46525b;