@import './helpers/colors.scss';

.desktop {
    .siteTitle {
        position: relative;
        top: -60px;
        left: 20px;
    }

    .logoTitle {
        margin: 10px;
        width: 84px
    }

    .mainContent {
        background-color: $main-bg;
    }


    body,
    html,
    .desktop {
        height: 100vh;
        overflow: hidden;

    }

    .gospel {
        padding-bottom: 500px !important;
        height: calc(100vh - 64px);
        overflow-y: scroll;
    }

    .mainContent {
        height: calc(100vh - 64px) !important;
    }

    .gospel,
    .modal {
        * {
            color: $main-color;
        }

        overflow-x: hidden;

        h1 strong {
            font-family: Illuminate;
            font-size: 4em;
            line-height: 1em;
            display: inline-block;
            position: relative;
            top: 50px;
        }

        h1 strong::after {
            content: '';
            position: absolute;
            bottom: 45px;

            left: 150px;
            width: 9000px;
            border-bottom: 15px solid $focus-color;
        }

        h2 strong {
            font-family: number;
            font-size: 4em;
            line-height: 1em;
            display: inline-block;
            margin-left: 15px;
            margin-right: -5px;
            position: relative;
            color: $focus-color;
            top: 20px
        }

        h1 {

            font-size: 3em;
            font-family: 'Unbounded', sans-serif;
            line-height: 1em;
            margin-top: 0 !important;
            margin-bottom: 60px !important;
        }

        h2 {
            padding-top: 40px;
            font-size: 2em;
            font-family: 'Unbounded', sans-serif;
        }

        ol {
            columns: 2;
            column-fill: balance;
            column-gap: 60px;
            padding: 15px !important;
        }

        ul {
            list-style-type: armenian !important;
        }

        li,
        p {
            font-size: 1.2em !important;
            text-align: justify;
            margin-bottom: 7px;
        }
    }

    .langSelector {
        width: 70px;
        display: inline-block;

        li {

            background-color: $main-bg !important;


        }

        input,
        span {

            color: $main-color;

        }

        .input-field {
            margin: 0;
        }

        .caret {

            fill: $main-color !important;

        }
    }

    nav {
        background-color: $main-color;
        color: $main-bg;

        .langSelector {
            position: fixed;
            right: 10px !important;

            top: 10px;
            background-color: $main-color !important;
            color: $main-bg !important;


        }
    }

    .select-dropdown {
        width: 20px !important;
        margin-right: 30px !important;
    }

    .caret {
        fill: $main-bg !important;
    }

    #nav *,
    .dropdown-content * {
        background-color: $main-color !important;
        color: $main-bg !important;
    }

    /* ===== Scrollbar CSS ===== */
    /* Firefox */

    /* Chrome, Edge, and Safari */
    .gospel::-webkit-scrollbar {
        width: 18px;
    }

    *::-webkit-scrollbar {
        width: 14px;
    }

    *::-webkit-scrollbar-track {
        background: $main-bg;
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgba($lighter-bg, 0.3);
        border-radius: 10px;
        height: 100px !important;
        border: 3px solid $main-bg;
    }

    .gospel::-webkit-scrollbar-thumb {
        background-color: rgba($focus-color, 0.5);
        border-radius: 10px;
        height: 100px !important;
        border: 3px solid $main-bg;
    }

    .Summary {
        margin-top: 0px;
        padding-top: 60px;
        max-width: 300px;
        padding-bottom: 500px;
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 64px);

        &:hover {

            .summaryTitle,
            .subtitle {
                opacity: 1;
            }

        }

        .summaryTitle,
        .subtitle {
            padding: 4px 20px 4px 4px !important;
            display: block;
            font-size: 1.1em !important;
            border-left: 0px solid $focus-color;
            transition: 0.3s 0.15s;
            color: $minus-color !important;
            opacity: 0.6;

            &:hover {
                color: $main-color !important;
                border-left: 15px solid $focus-color
            }

            &.active {
                color: $main-bg !important;
                padding: 20px 15px !important;
                background-color: $main-color !important;
                border-left: 15px solid $focus-color;
                font-size: 1.3em !important;
                opacity: 1 !important;
            }

        }

        .summaryTitle {
            color: $grey !important;
        }

        .subtitle {

            margin-left: 15px;
            font-style: italic;
        }
    }

    .header-img {
        position: relative;
        top: 25px;
    }

    .right-pannel-content {
        opacity: 0.7;
        transition: 0.3s;
        position: absolute;
        right: 0;
        width: 300px;

        &:hover {
            opacity: 1;
        }
    }
}

.right-pannel-content {
    .flex {
        width: 100% !important;
        text-align: left;
        border-radius: 5px;

        img {
            width: 40px;
            height: 40px;
            opacity: 0.8
        }

        .flex-auto {
            margin-left: 5px;
        }

        padding: 10px 10px;
        margin: 5px 0;
    }

    * {
        color: $main-color;
    }
}